a {
    text-decoration: none;
     font-family: serif ,"Times New Roman", Times;
     font-size:1.195em;
}

body {
	font-family: serif ,"Times New Roman", Times;
    font-size: 100%; 
}

/* Add a black background color to the top navigation */
.topnav {
    border-bottom: 3px solid black;
    overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 3px solid yellow;
   ;
}

.topnav a.active {
    border-bottom: 3px solid yellow;
    
}
.shop{
	color:red;
	font-size: 2em;

}

.mediapadding{
	padding-bottom: 15px;
	padding-top: 30px;
	margin: auto;
















